html {
    height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: "Roboto", sans-serif;
    background: url('https://images.unsplash.com/uploads/1412198485051133af17f/5049dacb?dpr=1&auto=format&fit=crop&w=2000&h=1500&q=80&cs=tinysrgb&crop=');
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding-top: 50px;
}

header {
    margin: 0;
    padding: 2% 5%;
}

header, section {
    text-align: center;
}

footer {
    padding-bottom: 30px;
}

h1, h2, h3 {
    font-family: "Lobster";
    color: #577FA4;
    padding: 20px 0px;
}

strong {
    color: #577FA4;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    background-color: rgba(255,255,255,0.95);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Top Navigation Bar */
.navbar {
    background-image: none;
    background-color: #eee !important;
    border-color: #E1E9F0 !important;
}

.navbar-left {
    margin-left: 150px;
}

.navbar li a:hover,
.navbar li a:focus,
.navbar-header a:hover,
.navbar-header a:focus {
    color: white !important;
    background-color: #A9B7CA !important;
}

.navbar li a {
    color: #577FA4 !important;
    font-weight: 500;
}

.navbar-header {
    font-family: "Lobster";
    color: #577FA4;
}

#searchRestaurant {
    margin: 0px;
    margin-top: 8px;
}

#searchRestaurant input[type=text]{
    width: 300px !important;
}

#searchButton {
    margin-left: -27px;
    color: #577FA4;
}

/* Selection buttons + submit */
.row {
    margin: 20px 0px;
}

.row .btn {
    margin: 0px 5px;
    background-color: #E1E9F0;
}

.row p {
    margin: 0px 20px;
}

.submit, .submit:hover, .submit:active, .submit:focus {
    margin-top: 50px;
    color: white !important;
    background-color: #A9B7CA;
}

button:focus, button:active, .btn:focus, .btn:active, .btn:hover {
    outline: 0 !important;
}

/* Input slider customization */
input {
    background-color: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #ddd;
    height: 6px;
    border: none;
    border-radius: 3px;
    margin-top: 6px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #A9B7CA;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #E1E9F0;
}

/* Restaurant Info Content */
.info {
    display: none;
    margin-top: 40px;
}


.picture img,
.picture2 img,
.picture3 img {
    border-radius: 25%;
}

.info .restaurant {
    font-family: "Lobster";
    font-size: xx-large;
    color: #577FA4;
    margin-bottom: 20px;
}

.address {
    color: #999;
    margin-bottom: 5px;
}

.phone {
    color: #999;
    margin-bottom: 30px;
}

.hours {
    color: #999;
    line-height: 30px;
    width: auto;
    margin-left: 25%;
}

.rating {
    font-family: "Lobster";
    color: #577FA4;
    margin-bottom: 20px;
}

.directions, #hide {
    display: inline-block;
    margin: 0 10px;
}

/* Extra footer spacing */
hr {
    margin-top: 20px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 500px;
}

/* Favorites page */
.panel {
    max-height: 80px;
    overflow:hidden;
}

.panel-heading {
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom:10px;
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading i {
    margin-top: 10px;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
    background-color:#d2322d !important;
}

/* Contact page*/
.contact-button {
    color: white !important;
    background-color: #696969;
}

.contact-button:hover {
    color: #c9c9c9 !important;
    background-color: #606060;
}

/* TODO: make site mobile-friendly -> then make android app */

@media all and (max-width: 1000px) {
    .picture2 {
        display: none;
    }

    .picture3 {
        display: none;
    }

    #exInfo {
        margin-left: 25%;
    }

    /* input is wider for mobile view*/
    #MainContent_distance {
        width: 35vw !important;
    }
}